* {
    margin: 0px;
    
}

html {
    scroll-behavior: smooth;
	 font-family: 'cursive';
}

.he {
    background-color: #4b4875;
    color: #fff;
    text-align: center; 
    box-shadow:  0 0px 20px 0 #000;
}

.he h1{
    padding-top: 50px;
    font-size: 70px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0px;
}

.he p{
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
	 text-align: center; 
}

.he img{
    position: relative;
    opacity: 0.1;
    left: 10%;
    padding-left: 30px;
}

.he p img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

span{
    font-size: 50px;
    padding: 10px;
}

.kousinn{
    padding: 30px;
    text-align: center;
    border-top: 1px solid #adadad;
    border-bottom: 1px solid #adadad;
}

.kousinn h5{
    text-align:left;
    padding-left: 40%;
    padding-top: 10px;
}

.bu{
    text-align: center;
    border-bottom: 1px solid #adadad;
}

table{}

#hyou{
    margin-right: -650px;
    margin-left: 380px;
	 margin-top: 30px;
	 margin-bottom: 30px;
    }

.pu{
   padding: 30px;
   text-align: center; 
}

.hu{
    background-color: #181726;
    color: #fff;
    text-align: center;
    padding-top: 30px;
}


.pu img {
    width: 130px;
    height: 130px;
    filter: drop-shadow(5px 5px 15px #aaa);
    padding: 30px;
    
}

.honbu{
	text-align: left;
	line-height: 40px;
	width: 500px;
}

.honbu h3{
	margin: 30px 0px 5px 0px;
}

.bu p{
	   padding-left: 60%;
		width: 800px;
}

 .honbu h3{
	   padding-left: 60%;
		width: 800px;
}



.pinku{
	width: 550px;
	height: 400px;
    margin-right: -650px;
    margin-left: 380px;
	 margin-top: 30px;
	 margin-bottom: 30px;
}


details:not(:last-child) {margin-bottom: 20px;}

details summary {
  list-style: none;
  cursor: pointer;
  padding: 20px;
  background: #fff;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

details summary::-webkit-details-marker {display: none;}


details .honbu {
  margin: 0;
  padding: 20px;
}




#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #4b4875;
  opacity: 0.8;
  border-radius: 50%;
  margin: 30px;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}



